<div class="main users-edit">
  <div class="container">
    <div class="form-heading">アカウント編集</div>
    <div class="form users-form">
      <div class="form-body">
        
        <% @user.errors.full_messages.each do |message| %>
          <div class="form-error">
            <%= message %>
          </div>
        <% end %>
        
        <!-- フォームの送信先を指定してください -->
        <%= form_for @user, method: :put do |f| %>
          <div class="form-group">
            
            <%= f.label :name, "名前" %>
            <%= f.text_field :name, class: 'form-control' %>
          </div>
          <div class="form-group">
            <%= f.label :email,"メールアドレス" %>
            <%= f.text_field :email, class: 'form-control' %>
          </div>
          <div class="form-group">
            <%= f.label :profile,"アカウント紹介文"%>
            <%= f.text_area :profile, class: 'form-control' %>
          </div>
          <%= f.label "画像をアップロード" %><br><%= f.file_field :image %>
          <%= f.submit "編集", class: 'btn-block btn-white btn push-create' %>
        <% end %>
      </div>
    </div>
  </div>
</div>