<div class="topic-index-wrapper">
  <div class="container">
    <h1 class="rank">いいねランキング</h1>
    <% @all_ranks.each.with_index(1) do |song, i| %>
      <div class="row">
        <div class="col-md-6 col-md-offset-3">
          <div class="topic-index-single">
            <div class="topic-user-image">
                  <% if song.user.image? %>
                  <%= image_tag song.user.image.url %>
                 <% end %>
                 </div>
                 
                <% if i == 1 %>
                  <div class ="rank-one">
                   <%= "#{i}位" %>
                   </div>
                <% end %>
                <% if i == 2 %>
                 <div class ="rank-two">
                   <%= "#{i}位" %>
                   </div>  
                <% end %>
                <% if i == 3 %>
                 <div class ="rank-three">
                   <%= "#{i}位" %>
                   </div>
                <% end %>

                 
            <h2 class="topic-author">
              <%= song.user.name %>
            </h2>
            
            <h3 class="topic-text">
              <%= song.title %>
            </h3>
            
            <h4 class="topic-text">
              <%= song.lyrics %>
            </h4>
            <%= video_tag song.video_url.to_s,loop: true, controls: true, width: 550, id: "mv" %>
            <div>
              <% if !song.favorite_users.include?(current_user) %>
                <%= link_to favorites_path(song_id: song.id),method: :post do %>
                  <%= image_tag "icons/black-hert.jpg", class: 'topic-index-icon' %>
                  <%= song.favorite_users.count %>
                <% end %>
                <% else %>
                  <%= link_to favorites_path(song_id: song.id),method: :delete do %>
                  <%= image_tag "icons/red-hert.jpeg", class: 'topic-index-icon' %>
                  <%= song.favorite_users.count %>
                <% end %>
              <% end %>  
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>