<div class="main users-edit">
  <div class="container">
    <div class="form-heading">ラッパー情報編集</div>
    <div class="form users-form">
      <div class="form-body">
        
        <% @rapper.errors.full_messages.each do |message| %>
          <div class="form-error">
            <%= message %>
          </div>
          
        <% end %>
        
        <!-- フォームの送信先を指定してください -->
        <%= form_for @rapper, method: :put do |f| %>
          <div class="form-group">
            <%= f.label :name,"名前を入力" %>
            <%= f.text_field :name, class: 'form-control' %>
          </div>

          <div class="form-group">
            <%= f.label :furigana_name,"ふりがなを入力" %>
            <%= f.text_field :furigana_name, class: 'form-control' %>
          </div>
          
          <div class="form-group">
            <%= f.label :represent_area,"レペゼン" %>
            <%= f.text_field :represent_area, class: 'form-control' %>
          </div>
          
          <div class="form-group">
            <%= f.label :crew,"クルー名" %>
            <%= f.text_field :crew, class: 'form-control' %>
          </div>

          <div class="form-group">
            <%= f.label :twitter,"ツイッターアカウント" %>
            <%= f.text_field :twitter, class: 'form-control' %>
          </div>
          
          <div class="form-group">
            <%= f.label :youtube,"youtubeチャンネル" %>
            <%= f.text_field :youtube, class: 'form-control' %>
          </div>
          
          <div class="form-group">
            <%= f.label :age,"年齢" %>
            <%= f.number_field :age, class: 'form-control' %>
          </div>
          
          <div class="form-group">
            <%= f.label :rhyme,"ライミングスキル" %>
            <%= f.number_field :rhyme, class: 'form-control' %>
          </div>
          
          <div class="form-group">
            <%= f.label :flow,"フロウスキル" %>
            <%= f.number_field :flow, class: 'form-control' %>
          </div>
          
          <div class="form-group">
            <%= f.label :talk,"内容" %>
            <%= f.number_field :talk, class: 'form-control' %>
          </div> 
          
          <div class="form-group">
            <%= f.label :props,"プロップス、人気" %>
            <%= f.number_field :props, class: 'form-control' %>
          </div>
          
          <div class="form-group">
            <%= f.label :synthesis,"総合値" %>
            <%= f.number_field :synthesis, class: 'form-control' %>
          </div>
          
          <div class="form-group">
            <%= f.label :introduction,"ラッパー紹介" %>
            <%= f.text_area :introduction, class: 'form-control' %>
          </div>
          <%= f.label "画像をアップロード" %><br><%= f.file_field :image %>
          <%= f.submit '編集', class: 'button  btn-block btn-vertical-border' %>
        <% end %>
      </div>
    </div>
  </div>
</div>