<div class="rapper-show-wrapper">
  <div class="container">
    <div class ="low">
      <div class="image-system">
        <% if @rapper.image? %>
          <%= image_tag @rapper.image.thumb.url %>
        <% end %>
      </div>
      <h2 class="rapper-infomation">名前: <%= @rapper.name %></h2>
      
      <p class="rapper-infomation"><b>レペゼン:</b> <%= @rapper.represent_area %></p>
      <p class="rapper-infomation"><b>クルー名:</b> <%= @rapper.crew %></p>
      <p class="rapper-infomation"><b>年齢:</b> <%= @rapper.age %></p>
      <p class="rapper-infomation"><b>ライミングスキル:</b> <%= @rapper.rhyme %></p>
      <p class="rapper-infomation"><b>フロウスキル:</b> <%= @rapper.flow %></p>
      <p class="rapper-infomation"><b>内容:</b> <%= @rapper.talk %></p>
      <p class="rapper-infomation"><b>プロップス、人気:</b> <%= @rapper.props %></p>
      <p class="rapper-infomation"><b>総合値:</b> <%= @rapper.synthesis %></p>
      <p class="rapper-infomation"><b>ラッパー紹介:</b> <%= @rapper.introduction %></p>
      <p class="rapper-infomation"><b>お気に入り登録数:</b><%= @rapper.vote_users.count %>
      <p class="rapper-infomation"><%= link_to "twitterアカウントを見る",@rapper.twitter %></p>
      <p class="rapper-infomation"><%= link_to "youtubeアカウントを見る",@rapper.youtube %></p>
      <% if !@rapper.vote_users.include?(current_user) %>
        <%= link_to votes_path(rapper_id: @rapper.id), method: :post do %>
        <p class="btn-top-radius">このラッパーをお気に入りに登録</p>
        <% end %>
      <% else %>
        <%= link_to votes_path(rapper_id: @rapper.id), method: :delete do %>
        <p class="btn-top-radius">このラッパーをお気に入りから解除</p>
        <% end %>
      <% end %>
      <% if current_user.admin? %>
        <%= link_to "編集", edit_rapper_path, class:"edit-rapper"%>
        
        <%= link_to "削除","/rappers/#{@rapper.id}", method: :delete, class:"delete-rapper" %>
      <% end %>

    </div>
  </div>
</div>